.container_cust {
    margin-top: 100px;
}

.heading {
    display: flex;
    justify-content: center;
}

.heading_cust {
    margin: 0 !important;
    padding: 0 !important;
}
.sub_heading{
    font-size: 1.8rem;
    color: #000;
    font-weight: 700;
}
.paragraph{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #808080;
    font-weight: 500;
    margin-top: 1.7rem;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    .resp_heading {
        color: #000;
        font-size: 2rem;
        font-weight: bold;
    }
}